---
layout: default
---
<!-- Main -->
			<div class="wrapper style1">
  <div class="container">
					<div class="row">
						<div class="12u skel-cell-important" id="content">
							<article id="main" class="special">
								<header>
									<h2>{{ page.title }}</h2>
									<span class="byline">
										{{ page.byline }}
									</span>
								</header>
								
								<p>
									{{content}}
								</p>
                </article>
                </div>
                </div>
                </div>
</div>